.main-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

@media only screen and (max-width: 990px) {
    .main-container {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        overflow: hidden;
        padding-top: 40px;
    }
}